# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.env*
!.env.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env*
!.env.example

# Firebase service account keys
*.json
!firebase.json
!package*.json
!tsconfig*.json

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/

# swc
*.node 
/generated/prisma

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
