rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 图片集合 - 所有人都可以读写
    match /images/{imageId} {
      allow read, write, create, update, delete: if true;
    }
    

    // 通用规则 - 所有文档都允许读写
    match /{document=**} {
      allow read, write, create, update, delete: if true;
    }
  }
}